<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="BooksApiTests" verbose="10" >
    <listeners>
        <listener class-name="listeners.LogListener"/>
    </listeners>
    <test name="GetBookApiTests" >
        <classes>
            <class name="tests.GetBookTests" />
        </classes>
    </test>

    <test name="CreateNewBookApiTests">
        <classes>
            <class name="tests.CreateNewBookTests"/>
        </classes>
    </test>

    <test name="UpdateBookApiTests">
        <classes>
            <class name="tests.UpdateBookTests" />
        </classes>
    </test>

    <test name = "DeleteBookApiTests">
        <classes>
            <class name="tests.DeleteBookTests"/>
        </classes>
    </test>
</suite>
